/* onboarding */
.section-onboarding {
  @include flexContainer(center, flex-end);
  width: 100%;
  height: 100vh;
  padding-bottom: 4rem;
  background-image: url("../images/onboarding.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.onboarding-container {
  @include flexContainer;
  width: 100%;
  flex-direction: column;
  padding: 2.05rem;
}

.onboarding-btn-container {
  width: 100%;
}

.carrot-icon-container {
  svg {
    width: 5rem;
    height: 5rem;
  }
}

.onboarding-body-container {
  text-align: center;
  padding: 1rem 0 3rem;
}

.onboarding-body-description {
  font-size: $font-size-lg;
}

.onboarding-body-title {
  font-size: 3.6rem;
}

//* end of onboarding */
